<div class="banks">
	<div class="banks-container">
		<div class="banks-head">Банки Беларуси</div>
		<table class="banks-list">
			<tr class="banks-list__row banks-list__row-head">
				<td class="banks-list__cell banks-list__cell-name">
					Наименование банка
				</td>
				<td class="banks-list__cell banks-list__cell-adress">Адрес</td>
				<td class="banks-list__cell banks-list__cell-tel">Телефоны</td>
				<td class="banks-list__cell banks-list__cell-site">Сайт</td>
			</tr>
			<tr
				class="banks-list__row"
				*ngFor="let bank of _banksService.banks; let i = index"
			>
				<td class="banks-list__cell banks-list__cell-name">
					<a
						class="banks-list__cell banks-list__cell-name__link"
						[routerLink]="['/banks', bank.id]"
					>
						{{ bank.name }}
					</a>
				</td>
				<td class="banks-list__cell banks-list__cell-adress">
					{{ bank.adress }}
				</td>
				<td class="banks-list__cell banks-list__cell-tel">
					{{ bank.tel }}
				</td>
				<td class="banks-list__cell banks-list__cell-site">
					<a
						class="banks-list__cell banks-list__cell-site__link"
						href="{{ bank.site }}"
					>
						{{ bank.site }}
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>
