<div class="banks">
    <div class="banks-container">
        <div class="banks-head">Банки Беларуси</div>
        <table class="banks-list">
            <tr class="banks-list__row banks-list__row-head">
                <td class="banks-list__cell banks-list__cell-name">
                    Полное наименование (сокращенное)
                </td>
                <td class="banks-list__cell banks-list__cell-reg">
                    Дата регистрации
                </td>
                <td class="banks-list__cell banks-list__cell-ceo">
                    Ф.И.О. председателя
                </td>
                <td class="banks-list__cell banks-list__cell-adress">Адрес</td>
                <td class="banks-list__cell banks-list__cell-tel">Телефоны</td>
                <td class="banks-list__cell banks-list__cell-site">Сайт</td>
            </tr>
            <!-- *ngFor="let bank of banks; let i = index" -->
            <tr class="banks-list__row">
                <td class="banks-list__cell banks-list__cell-name">1</td>
                <td class="banks-list__cell banks-list__cell-reg">2</td>
                <td class="banks-list__cell banks-list__cell-ceo">3</td>
                <td class="banks-list__cell banks-list__cell-adress">4</td>
                <td class="banks-list__cell banks-list__cell-tel">5</td>
                <td class="banks-list__cell banks-list__cell-site">6</td>
            </tr>
        </table>
    </div>
</div>
