@import "src/app/app.component";

.converter {
	width: 85%;
	margin: 0 auto;
	&-container {
		margin-top: 15px;
		width: 90%;
	}
}

.converter__info {
	font-size: 20px;
	text-align: center;
}

.converter__converters {
	@include flex;
	justify-content: space-around;
	height: 450px;

	.converter__nbrb,
	.converter__banks {
		width: 400px;
		height: 350px;
		font-size: 30px;
		text-align: center;
		padding: 10px;
		background-color: rgb(225, 252, 225);
		border-radius: 3px;

		.converter__nbrb__descr {
			height: 80px;
			margin-top: 15px;
			font-size: 15px;
			text-align: center;
		}
	}
}
.converter__banks-buttons {
	margin-top: 15px;
	height: 80px;

	&__buy-sale {
        background-color: white;
		border: 0.5px solid rgb(197, 197, 197);
		border-radius: 4px;
		width: 50%;
		height: 25px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
	}
}

.converter__nbrb__item {
	@include flex;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 400px;
	margin-top: 15px;
	&__text {
		width: 110px;
		margin-right: 20px;
		font-size: 20px;
		font-weight: bold;
	}

	&__input {
		width: 500px;
		padding: 4px;
		border: 1px solid rgb(182, 182, 182);
		border-radius: 3px;
	}
}

.converter__top-requests {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
	&-container {
		@include flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 50px;
		font-size: 14px;
		font-weight: 100;
	}
}
