<app-exchange-rates-chart></app-exchange-rates-chart>
<div class="exch">
	<div class="exch-container">
		<div class="exch-head">Курсы валют</div>
		-->
		<div class="exch-rates">
			<div class="exch-rates-head">Курсы валют на _____</div>
			<div class="exch-rates-trigger">
				<button class="exch-rates-trigger__button" (click)="NBtoCB()">
					НБРБ
				</button>
				<button class="exch-rates-trigger__button" (click)="NBtoCB()">
					Банки
				</button>
			</div>
			<table class="exch-rates-list" *ngIf="isNBRB">
				<tr class="exch-rates-list__row exch-rates-list__row-head">
					<td
						class="exch-rates-list__cell exch-rates-list__cell-name"
					>
						Валюта
					</td>
					<td
						class="exch-rates-list__cell exch-rates-list__cell-exch-today"
					>
						Курс сегодня
					</td>
					<td
						class="exch-rates-list__cell exch-rates-list__cell-code"
					>
						Код валюты
					</td>
					<td
						class="exch-rates-list__cell exch-rates-list__cell-amount"
					>
						Количество
					</td>
				</tr>
				<tr
					class="exch-rates-list__row"
					*ngFor="let exchRate of exchRates; let i = index"
				>
					<td
						class="exch-rates-list__cell exch-rates-list__cell-name"
					>
						{{ this.exchRate.Cur_Name }}
					</td>
					<td
						class="exch-rates-list__cell exch-rates-list__cell-exch-today"
					>
						{{ this.exchRate.Cur_OfficialRate }}
					</td>
					<td
						class="exch-rates-list__cell exch-rates-list__cell-code"
					>
						{{ this.exchRate.Cur_ID }}
					</td>
					<td
						class="exch-rates-list__cell exch-rates-list__cell-amount"
					>
						{{ this.exchRate.Cur_Scale }}
					</td>
				</tr>
			</table>

			<div class="exch-rates-banks" *ngIf="!isNBRB">
				<div class="exch-rates-banks-head">
					<div class="exch-rates-type-bank">
						Банк
					</div>
					<div class="exch-rates-type-rates">
						<div class="exch-rates-type-currency">
							USD
						</div>
						<div class="exch-rates-type-rates-container">
							<div class="exch-rates-type-buy">
								Покупка
							</div>
							<div class="exch-rates-type-sell">
								Продажа
							</div>
						</div>
					</div>
					<div class="exch-rates-type-rates">
						<div class="exch-rates-type-currency">
							EUR
						</div>
						<div class="exch-rates-type-rates-container">
							<div class="exch-rates-type-buy">
								Покупка
							</div>
							<div class="exch-rates-type-sell">
								Продажа
							</div>
						</div>
					</div>
					<div class="exch-rates-type-rates">
						<div class="exch-rates-type-currency">
							RUB
						</div>
						<div class="exch-rates-type-rates-container">
							<div class="exch-rates-type-buy">
								Покупка
							</div>
							<div class="exch-rates-type-sell">
								Продажа
							</div>
						</div>
					</div>
				</div>
				<div class="exch-rates-banks-container">
					<div class="exch-rates-banks-list-container">
						<div
							class="exch-rates-banks-list"
							*ngFor="
								let bank of _banksService.banksForRates;
								let i = index
							"
						>
							<img
								class="exch-rates-banks-list-img"
								src="{{ bank.pict }}"
							/>
							<div class="exch-rates-banks-list-name">
								{{ bank.name }}
							</div>
						</div>
					</div>
					<div class="exch-rates-banks-rates">
						<div
							class="exch-rates-banks-rates2"
							*ngFor="
								let bankRate of _banksService.banksRates;
								let i = index
							"
						>
							<div class="exch-rates-banks-rates-rate">
								{{ bankRate[0] | number: "0.3-3" }}
							</div>
							<div class="exch-rates-banks-rates-rate">
								{{ bankRate[1] | number: "0.3-3" }}
							</div>
							<div class="exch-rates-banks-rates-rate">
								{{ bankRate[2] | number: "0.3-3" }}
							</div>
							<div class="exch-rates-banks-rates-rate">
								{{ bankRate[3] | number: "0.3-3" }}
							</div>
							<div class="exch-rates-banks-rates-rate">
								{{ bankRate[4] | number: "0.3-3" }}
							</div>
							<div class="exch-rates-banks-rates-rate">
								{{ bankRate[5] | number: "0.3-3" }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
