@import "src/app/app.component";
.exch {
	width: 65%;
	margin: 0 auto;
	&-container {
		margin-top: 15px;
		width: 100%;
		.exch-head {
			font-size: 35px;
			font-weight: 700;
			margin: 10px auto;
			text-align: center;
		}
		.exch-graph {
			height: 380px;
			width: 60%;
			border: 2px solid black;
		}
		.exch-rates-head {
			font-size: 20px;
			font-weight: 700;
			text-align: center;
		}
		.exch-rates-trigger {
			margin-top: 15px;
			&__button {
				background-color: white;
				border: 0.5px solid rgb(197, 197, 197);
				border-radius: 4px;
				width: 50%;
				height: 25px;
				cursor: pointer;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 700;
				outline: 0;
			}
			&__button:hover,
			&__button:focus {
				background-color: $mainBackgroundcolor;
			}
		}
		.exch-rates-list {
			width: 100%;
			margin-top: 15px;
			border-collapse: collapse;
			&__row {
				margin: 25px;
				height: 50px;
				border-bottom: 1px solid green;
				width: 100%;
				user-select: none;
				.exch-rates-list__cell {
					width: 20%;
					font-size: 22px;
				}
				&-head {
					background-color: $mainBackgroundcolor;
				}
			}
			&__row:hover {
				background-color: $mainBackgroundcolor;
			}
		}
	}
}

.exch-rates-banks {
	border-collapse: collapse;
	width: 100%;
	&-head {
		&__cell {
			width: 14%;
		}
	}
	&-row {
		&__cell {
			width: 10%;
		}
		&__cell:first-child {
			width: 20%;
		}
	}
}

.exch-rates-banks {
	width: 100%;
	margin: 15px auto;
	&-head {
		@include flex;
		flex-direction: row;
		background-color: $mainBackgroundcolor;
		.exch-rates-type__bank {
			width: 40%;
			font-size: 22px;
			text-align: center;
		}
		.exch-rates-type-rates {
			width: 20%;
			text-align: center;
			.exch-rates-type__currency {
				width: 100%;
			}
			&-container {
				@include flex;
				flex-direction: row;
				.exch-rates-type__buy {
					width: 50%;
				}
				.exch-rates-type__sell {
					width: 50%;
				}
			}
		}
	}
	&-container {
		@include flex;
		flex-direction: row;
		.exch-rates-banks-list-container {
			width: 40%;
			@include flex;
			flex-direction: column;
			.exch-rates-banks-list {
				width: 100%;
				height: 50px;
				margin: 25px;
				border-bottom: 1px solid green;
				user-select: none;
				@include flex;
				flex-direction: row;
				justify-content: space-evenly;
				&__img {
					width: 80px;
				}
				&__name {
					font-size: 22px;
					width: 70%;
				}
			}
		}
		.exch-rates-banks-rates {
			width: 60%;
			@include flex;
			flex-direction: column;
			.exch-rates-banks-rates2 {
				width: 100%;
				height: 50px;
				@include flex;
				margin: 25px;
				border-bottom: 1px solid green;
				user-select: none;
				flex-direction: row;
				.exch-rates-banks-rates-rate {
					width: 20%;
					text-align: center;
					font-size: 22px;
				}
			}
			.exch-rates-banks-rates2:hover,
			.exch-rates-banks-rates2:focus {
				background-color: $mainBackgroundcolor;
			}
		}
	}
}

@media all and (max-width: 980px) {
	.exch {
		width: 90%;
		margin: 0 auto;
		&-container {
			margin-top: 15px;
			width: 100%;
		}
		.exch-rates {
			&-list {
				width: 100%;
				margin-top: 15px;
				border-collapse: collapse;
				&__row {
					margin: 25px;
					height: 50px;
					border-bottom: 1px solid green;
					width: 100%;
					user-select: none;
					.exch-rates-list__cell-name {
						width: 30%;
					}
					.exch-rates-list__cell-exch-today {
						width: 30%;
					}
					.exch-rates-list__cell-code {
						width: 20%;
					}
					.exch-rates-list__cell-amount {
						width: 20%;
					}
				}
			}
		}
	}
}
@media all and (max-width: 780px) {
	.exch-rates-banks-list__img {
		display: none;
	}
	.exch-rates-banks-head {
		width: 100%;
		.exch-rates-type__bank {
			width: 20%;
		}
		.exch-rates-type-rates {
			width: 27%;
		}
	}
	.exch-rates-banks-container {
		width: 100%;
		.exch-rates-banks-list-container {
			width: 19%;
			.exch-rates-banks-list {
				&__name {
					font-size: 12px;
					width: 100%;
					margin: 0;
					word-break: break-all;
				}
			}
		}
		.exch-rates-banks-rates {
			width: 80%;
			.exch-rates-banks-rates2 {
				.exch-rates-banks-rates-rate {
					width: 20%;
					text-align: center;
					font-size: 16px;
				}
			}
		}
	}
}

@media all and (max-width: 500px) {
	.exch-rates-type__bank {
		font-size: 15px;
	}
	.exch-rates-type-rates {
		font-size: 12px;
		width: 27%;
	}
	.exch-rates-banks-container {
		width: 100%;
	}
	.exch-rates-banks-list-container {
		width: 19%;
	}
	.exch-rates-banks-list__img {
		display: inline;
	}
	.exch-rates-banks-list__name {
		display: none;
	}
	.exch-rates-banks-rates {
		width: 80%;
		&-rate {
			width: 20%;
			text-align: center;
			font-size: 13px;
		}
	}
	.exch {
		width: 95%;
		margin: 0 auto;

		&-container {
			margin-top: 15px;
			width: 100%;
		}
		.exch-rates {
			&-list {
				width: 100%;
				margin-top: 15px;
				border-collapse: collapse;
				&__row {
					margin: 25px;
					height: 50px;
					border-bottom: 1px solid green;
					width: 100%;
					user-select: none;
					.exch-rates-list__cell {
						font-size: 15px;
					}
					.exch-rates-list__cell-name {
						width: 40%;
					}
					.exch-rates-list__cell-exch-today {
						width: 40%;
					}
					.exch-rates-list__cell-code {
						display: none;
					}
					.exch-rates-list__cell-amount {
						width: 20%;
					}
				}
			}
		}
	}
}
