@import "src/app/app.component";
.exch {
	width: 65%;
	margin: 0 auto;

	&-container {
		margin-top: 15px;
		width: 100%;
		.exch-head {
			font-size: 25px;
			font-weight: 700;
			margin: 10px 0;
		}
		.exch-graph {
			height: 380px;
			width: 60%;
			border: 2px solid black;
		}
		.exch-rates-head {
			font-size: 20px;
			font-weight: 700;
		}
		.exch-rates-list {
			width: 100%;
			border-collapse: collapse;
			.exch-rates-list__row {
				width: 100%;
				.exch-rates-list__cell {
					width: 20%;
				}
				&-head {
					background-color: rgb(225, 252, 225);
				}
			}
		}
	}
}

.exch-rates-banks {
	border-collapse: collapse;
	width: 100%;
	&-head {
		&__cell {
			width: 14%;
		}
	}
	&-row {
		&__cell {
			width: 10%;
		}
		&__cell:first-child {
			width: 20%;
		}
	}
}

.exch-rates-banks {
	width: 65%;
	margin: 0 auto;

	.exch-rates-banks-head {
		@include flex;
		flex-direction: row;
		.exch-rates-type-bank {
			width: 40%;
		}
		.exch-rates-type-rates {
			width: 20%;

			.exch-rates-type-currency {
				width: 100%;
			}
			.exch-rates-type-rates-container {
				@include flex;
				flex-direction: row;
				.exch-rates-type-buy {
					width: 50%;
				}
				.exch-rates-type-sell {
					width: 50%;
				}
			}
		}
	}
	.exch-rates-banks-container {
		@include flex;
		flex-direction: row;
		.exch-rates-banks-list-container {
			width: 40%;
			@include flex;
			flex-direction: column;
			.exch-rates-banks-list {
				width: 100%;
				height: 50px;
				@include flex;
				flex-direction: row;
				justify-content: space-evenly;
				.exch-rates-banks-list-img {
					width: 70px;
				}
				.exch-rates-banks-list-name {
					width: 70%;
				}
			}
		}
		.exch-rates-banks-rates {
			width: 60%;

			@include flex;
			flex-direction: column;

			.exch-rates-banks-rates2 {
				width: 100%;
				height: 50px;
				@include flex;

				flex-direction: row;
				.exch-rates-banks-rates-rate {
					width: 20%;
				}
			}
		}
	}
}
