<div class="header nav">
	<div class="header-container">
		<a class="header__link nav__item" routerLink="/rates"> Курсы валют </a>
		<a class="header__link nav__item" routerLink="/banks"> Все банки </a>
		<a class="header__link nav__item" routerLink="/converter">
			Конвертер
		</a>
		<a class="header__link nav__item" routerLink="/news"> Новости </a>
		<a class="header__link nav__item" routerLink="/about"> О сайте </a>
	</div>
	<div class="header-burger">
		<div
			class="burger-menu"
			[class.active]="active"
			(click)="onBurgerClicked()"
		>
			<div class="burger-container">
				<div class="burger-inner">
					<div class="burger-inner-container" *ngIf="active">
						<div class="header__link nav__item" routerLink="/rates">
							Курсы валют
						</div>
						<div class="header__link nav__item" routerLink="/banks">
							Все банки
						</div>
						<div
							class="header__link nav__item"
							routerLink="/converter"
						>
							Конвертер
						</div>
						<div class="header__link nav__item" routerLink="/news">
							Новости
						</div>
						<div class="header__link nav__item" routerLink="/about">
							О сайте
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="router-outlet-container">
	<router-outlet></router-outlet>
</div>
<div class="footer nav">
	<div class="footer-text-container">
		<div class="footer-text">Проект Наруцкого Артёма. FE-2020.1</div>
	</div>
	<div class="footer-container">
		<a
			class="footer__link nav__item"
			href="https://facebook.com"
			target="_blank"
		>
			<img
				src="assets\social\facebook.png"
				alt="Facebook"
				class="footer__link__img"
			/>
		</a>
		<a
			class="footer__link nav__item"
			href="https://twitter.com"
			target="_blank"
		>
			<img
				src="assets\social\twitter.png"
				alt="Twitter"
				class="footer__link__img"
			/>
		</a>
		<a
			class="footer__link nav__item"
			href="https://youtube.com"
			target="_blank"
		>
			<img
				src="assets\social\youtube.png"
				alt="Youtube"
				class="footer__link__img"
			/>
		</a>
		<a
			class="footer__link nav__item"
			href="https://instagram.com"
			target="_blank"
		>
			<img
				src="assets\social\insta.png"
				alt="Insta"
				class="footer__link__img"
			/>
		</a>
	</div>
</div>
