<div class="header nav">
	<div class="header-container">
		<a class="header__link nav__item" routerLink="/rates"> Курсы валют </a>
		<a class="header__link nav__item" routerLink="/banks"> Все банки </a>
		<a class="header__link nav__item" routerLink="/converter">
			Конвертер
		</a>
		<a class="header__link nav__item" routerLink="/news"> Новости </a>
		<a class="header__link nav__item" routerLink="/about"> О сайте </a>
	</div>
</div>
<div class="router-outlet-container">
	<router-outlet></router-outlet>
</div>
<div class="footer nav">
	<div class="footer-container">
		<a
			class="footer__link nav__item"
			href="https://facebook.com"
			target="_blank"
		>
			<img src="src\assets\social\facebook.png" alt="11" />
		</a>
		<!--  width: 512px; height: 512px;
    background: url('css_sprites.png') -10px -10px; -->
		<a
			class="footer__link nav__item"
			href="https://twitter.com"
			target="_blank"
		>
			<img src="src\assets\social\twitter.png" alt="11" />
		</a>
		<!--   width: 512px; height: 512px;
    background: url('css_sprites.png') -542px -10px; -->
		<a
			class="footer__link nav__item"
			href="https://youtube.com"
			target="_blank"
		>
			<img src="src\assets\social\youtube.png" alt="11" />
		</a>
		<!--  width: 512px; height: 512px;
    background: url('css_sprites.png') -10px -542px; -->
		<a
			class="footer__link nav__item"
			href="https://instagram.com"
			target="_blank"
		>
			<img src="src\assets\social\insta.png" alt="11" />
		</a>
		<!--  width: 512px; height: 512px;
    background: url('css_sprites.png') -542px -542px;-->
	</div>
</div>
