<div class="news">
	<div class="news-container">
		<ul class="news-container-list">
			<li
				class="news-container-list__item"
				*ngFor="
					let item of _newsService.news
						| paginate
							: {
									itemsPerPage: 10,
									currentPage: _newsService.currentPage
							  };
					let i = index
				"
			>
				<a
					class="news-container-list__item-link"
					[routerLink]="['/news', item.id]"
				>
					<div class="news-container-list__item__name">
						{{ item.name_ru }}
					</div>
					<div class="news-container-list__item__pict">
						<img
							class="news-container-list__item__pict__img"
							src="{{ item.img }}"
						/>
					</div>
				</a>
			</li>
		</ul>
		<pagination-controls
			(pageChange)="_newsService.currentPage = $event"
		></pagination-controls>
	</div>
</div>
