<div class="news">
    <div class="news-container">
        <ul class="news-container-list">
            <li class="news-container-list__item">
                <a class="news-container-list__item-link" href="/news/id">
                    <div class="news-container-list__item__name">название</div>
                    <div class="news-container-list__item__pict">картинка</div>
                </a>
            </li>
            <li class="news-container-list__item">
                <a class="news-container-list__item-link" href="/news/id">
                    <div class="news-container-list__item__name">название</div>
                    <div class="news-container-list__item__pict">картинка</div>
                </a>
            </li>
            <li class="news-container-list__item">
                <a class="news-container-list__item-link" href="/news/id">
                    <div class="news-container-list__item__name">название</div>
                    <div class="news-container-list__item__pict">картинка</div>
                </a>
            </li>
            <li class="news-container-list__item">
                <a class="news-container-list__item-link" href="/news/id">
                    <div class="news-container-list__item__name">название</div>
                    <div class="news-container-list__item__pict">картинка</div>
                </a>
            </li>
            <li class="news-container-list__item">
                <a class="news-container-list__item-link" href="/news/id">
                    <div class="news-container-list__item__name">название</div>
                    <div class="news-container-list__item__pict">картинка</div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- li *ngFor="let news of newsList; let i = index" -->
